.center-all {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgoldenrodyellow;
}

/* .image-container {
  position: relative;
  display: inline-block;
} */

/* .image-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 2000px;
  height: auto;
} */

.overlay-text {
  /* position: absolute;
  
  top: 30%; 
  left: 50%; 
  transform: translate(-50%, -50%);   */
  font-size: 200px;
  color: black; 
  padding: 10px 20px; 
  text-align: center;
  height: 600px;
}

.midday {
  background-color: lightgoldenrodyellow;
}

.midnight {
  background-color: midnightblue;
}

.morning {
  background-color: pink;
}

.evening {
  background-color: lightsalmon;
}